name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # cargo はデフォルトで使えるが、clippyでエラーになるので、rust-toolchainをインストールする
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy, check, test

      - name: Check code formatting
        run: cargo fmt --all --check

      - name: Run clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Check workspace
        run: cargo check --workspace --all-targets --all-features

      - name: Run tests
        run: cargo test --workspace --all-features
