name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install -y libgobject-2.0-dev libglib2.0-dev pkg-config

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Check code formatting
        run: cargo fmt --all --check

      - name: Run clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Check workspace
        run: cargo check --workspace --all-targets --all-features

      - name: Run tests
        run: cargo test --workspace --all-features
